body {
background: #FFFFFF;
background-image: url(image/rising_sun.svg);
	background-size:100%;
/*background-repeat: repeat-y;*/
/*background-position: 0% 25%;*/
background-attachment: fixed;
position: relative;
}
.maincontent
{

border-radius: 5PX;
width:77%;
color: #717272;
font-family: Verdana, sans-serif;
padding:10px auto 0 auto;
margin:auto;
}
#leftlink{
	background-image: url(image/наверх.gif);
	background-position: 1% 0%;
	background-size: 11%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position:absolute;
	width: 11%;
	float:left;
	background-color: darkgrey;
	opacity: 0.0;
	min-height: 6440px;
	
}
#leftlink:hover{
	opacity: 0.7;
	
}

/*стили первой буквы и строки*/
p:first-letter {
  font-size: 2em;
  margin-right: 2px; 
  color:#323232;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -1px -1px 1px white, 1px 1px 1px #9E9D99;
}
p:first-line {}
/*конец*/
A:link {
	COLOR: black; TEXT-DECORATION: none;
}
A:visited {
	color:#2E2E2E;
	TEXT-DECORATION: none;
}
A:active {
	COLOR: #8F5933; TEXT-DECORATION: none;
	}
A:hover {
	COLOR: #DD861F; TEXT-DECORATION: none;
	}

A.footerl:link {
	COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:visited {
	COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:active {
	COLOR: #000; TEXT-DECORATION: none;
	}
A.footerl:hover {
	COLOR: #8F5933; TEXT-DECORATION: underline;
	}

.container {
background-color: #FFF;
border: 1px solid #AAAAAA;
}

/*цитата*/
blockquote {
margin: 0;
color: #231E28;
padding: 30px 30px 30px 60px;
border-left: 8px solid #CBDDE7;
position: relative;
background: #FAF8EB;
font-family: 'Lato', sans-serif;
font-weight: 300;
}
blockquote:before{
content: "\201C";
font-family: Arial;
color: #CBDDE7;
font-size: 70px;
position: absolute;
left: 15px;
top: 5px;
}
blockquote p {
font-style: italic;
font-size: 24px;
margin-top: 0;  
}
.header{
	float: right;
	color:#DEB887;
	text-align: center;
	padding: 6px 16px;
	text-decoration: none;
	font-size: 30px;
}
.navigation{
	overflow: hidden;
	
	background-color: #333;
}
.navigation a{
	float: left;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	/*
	border-radius: 5px;
	letter-spacing: 1px;
	word-spacing: 25px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 95%;
	float: left;
	text-align: left;
	padding: 38px 15px 13px 15px;*/
}
.navigation a:hover{
	background-color: #ddd;
	color: black;
} 
.navigation a:active{
	background-color: #4CAF50;
	color: white;
}

.logo {
	font-family:"paytone-one","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";


	/*border-bottom: 5px solid #FD9DB9;*/
	text-align: right;
	color:burlywood;
	font-size: 40px;
	padding: 15px;

}
.logo em{
	display:block;
	float:right;
	width: 40%;
	text-align: right;
	color: #CC0000;
	font-weight: normal;
	font-size: 12px;
	padding-top: 3px;
}

.boxcontain {
	background-color: #A2A2A3;
	width: 46%;
	float: right;
	height: 147px;
}

.bluebox {
	height: 100px;
	border-bottom: 2px dotted #FFF;
	border-right: 2px dotted #FFF;
	background: #669CC0 url(dots.gif);
	background-repeat: no-repeat;
	background-position: 99% 97%;
	float: left;
	width: 80%;
}

.rightgrey {
	background: #A2A2A3;
	height: 147px;
	float: left;
}

.content {
	padding: 5px;
}

.leftcontent {
	text-indent: 15px;	
	background:#fff;
	float: right;
	font-size: 110%;
	padding:25px;
}

h1 {
/*	color: #F1A93B;
	padding: 0;
	margin: 0 0 5px 0;
	text-decoration: underline;
	width: 50%;*/
	
	

}
h2{	margin-left: 75px;
	margin-bottom: 0px;
	
	/*font-size: 20px;
	font-weight: 700;
    line-height: 1.6;
    margin: 0 0 16px;
    color: #000000;
	-webkit-box-sizing: border-box;
	    font-family: fontjapan !important;
	    letter-spacing: 0.2em;
    text-transform: uppercase;
	    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
/*
	color: #F1A93B;
	padding: 0;
	margin: 0 0 5px 0;
	text-decoration: underline;
	width: 50%;
*/
}
p{
	margin-top: 6px;
}
#images {
	background-image: url(image/emblem.png);
	border: 1px; 
	width: 220px; 
	height: 220px; 
	float: right; 
	margin: 45px 5px 5px 0;
}

.footer {
	font-size: 11px;
	padding: 0 3px 3px 3px;
	float: right;
}
.leftcontent img{
	margin: 5px;
	width: 50%;
	height: 50%;
	float: left;
	border-style:dashed;
	margin-top:15px;
	
}
img.rightimg{
	float:right;
	margin: 5px;
	border-style:dashed;
}
.bottomnav {
	word-spacing: 25px;
	font-size: 12px;
	text-align: left;
	padding: 0 3px 10px 10px;
}
#authorinfo {
  color:#888888;
  font-size: 12px;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent; 
  border-top: 1px solid transparent;
}
#authorinfo:hover {
  border-bottom: 1px solid #888888; 
  border-top: 1px solid #888888; 
 }